/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$open: 'Open Sans', sans-serif;
$lightblue: #76C7C0;
$white: white;
$lightgrey: #ECECEC;
$darkgrey: #98A2A2;
$red: #E1524B;
body {
	margin: 0px;
	padding: 0px;
}
html { font-size: 62.5%; } 
nav.first-menu {
	position: fixed;
	z-index: 100;
	width: 100%;
	box-sizing: border-box;
	margin-top: 0px;
}
nav {
	height: 80px;
	background-color: $lightblue;
	line-height: 80px; //wyśrodkowuje elementy
	border-image: url(../img/border.png) repeat;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(161,161,161,1);
	-moz-box-shadow: 0px 5px 5px 0px rgba(161,161,161,1);
	box-shadow: 0px 5px 5px 0px rgba(161,161,161,1);
	h1 a{
		font-family: $open;
		font-size: 3.0rem;
		color: white;
		font-weight: 700;
		float: left;
		text-decoration: none;
	}
	ul {
		display: inline;
		float: right;
	li {
		display: inline-block; 
		a:hover {
			color: $red;
				}
				a {
				text-decoration: none;
				color: white;
				margin-right: 30px;
				text-transform: uppercase;
				font-size: 1.3rem;
				font-family: $open;
				
			}
		}
	}
}
.intro {
	padding-right: 8%;
	padding-left: 8%;
	padding-top: 0px;
}
.benefits {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 8%;
	padding-right: 8%;
	
		h2 {
			font: bold 1.6rem $open;
			color: darken($darkgrey, 10);
			margin-top: 10px;
			margin-bottom: 10px;

			}
		p {
			margin-top: 20px;
			font: 1.3rem $open;
			color: $darkgrey;
		}

	.why-choose-us {
		flex: 10;

	
		ul li {
			font: 1.3rem $open;
			color: $darkgrey;
			list-style-image: url("../img/list.jpg");
			list-style-position: inside;

		}
		}
	.testimonials {
		flex: 10;
	}
	.our-benefits {
		flex: 10;
		
		img {
				float: left;
		}
	}
}
.back { //definiuje drugą stronę karty w ourteam
			background-color: $lightblue !important;
			color: white;
			background-image: none !important;

		}
.our-team {
	background-color: $lightgrey;


	figure {
		width: 270px;
		height: 310px;
		background-color: white;
		background-image: url("../img/fota.jpg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-left: 14px;
		margin-bottom: 30px;
		border-radius: 20px;
		box-sizing: border-box;
		padding: 20px;
		-webkit-box-shadow: 0px 5px 5px 0px rgba(161,161,161,1);
		-moz-box-shadow: 0px 5px 5px 0px rgba(161,161,161,1);
		box-shadow: 0px 5px 5px 0px rgba(161,161,161,1);
	
	}
	h2 {
		text-align: center;
		font: 4.0rem $open;
		font-weight: 700;
		color: $darkgrey;
		text-transform: uppercase;
		margin-bottom: 80px;
		margin-top: 90px;
		line-height: 48px;
		box-sizing: border-box;

	}
	.page-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
	figcaption {
		width: 200px;
		height: 55px;
		box-sizing: border-box;
		background-color: $darkgrey;
		border-radius: 10px;
		position: relative;
 		margin-right: auto;
		margin-left: auto;
		margin-top: 250px;
		padding: 20px;
		color: white;
		-webkit-box-shadow: 0px 5px 5px 0px rgba(161,161,161,1);
		-moz-box-shadow: 0px 5px 5px 0px rgba(161,161,161,1);
		box-shadow: 0px 5px 5px 0px rgba(161,161,161,1);
		p {
			text-align: center;
			font: 1.4rem $open;

		}
	}

} 
}
.toggle-nav {
display: none;
}

.second-menu {
	width: 100%;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	background-color: $lightgrey;
	color: $darkgrey;
	font-size :2.0rem;
	padding-left: 10%;
	display: inline-block;
	line-height: 80px;
		ul {
		float: left;

		li {
			display: inline;

			a {
				text-decoration: none;
				color: $darkgrey;
				font-family: $open;
				
			}
		}
	}
}
.intro {
	background-color: white;

	h2 {
		font: 3.0rem $open;
		color: $red;
		margin-top: 62px;
	}
	p {
		font: 1.4rem $open;
		color: $darkgrey;
		margin-top: 3.1rem;
		line-height: 2.0rem;
	}
}

.page-wrap //wrapuje wszystkie elementy strony 
{
	width: 80%;
	margin: 0 auto;
}
.slogan {
	background-color: $lightgrey;
 	h2 {
		font: 4.0rem $open;
		color: $red;
		text-align: center;
		padding-top: 100px;
		width: 90%;
 }
	 p {
			font: 1.4rem $open;
			color: $darkgrey;
			margin-top: 30px;
			text-align: center;
			margin-right: 10%;
			margin-left: 10%;
	 }
}
.slider {
	background-color: $lightgrey;
	width: 100%;
			button {
				border-radius: 15%;
				width: 40px;
				height: 40px;
				background-color: $red;
				float: right;
				color: white;
				font-size: 20px;
				position: relative;
				top: -30px;
			}
			.active {
				background-color: $darkgrey;
			}
	p {
		font: bold 1.5rem $open;
		color: $darkgrey;
		margin-left: 140px;
		padding-top: 70px;
		
	}
	.flex-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			padding: 10px;
		}
	figure{
			width: 170px;
			height: 90px;
			background-color: $white;
			background-image: url("../img/jquery.png");
			background-position: 50% 50%;
			background-repeat: no-repeat;
			border-radius: 5%;
			margin-top: 10px;
			margin-bottom: 20px;
			margin-right: 20px;
		}
}
footer {
	background-color: $lightblue;
	color: white;
	display: flex;
	flex-wrap: wrap;
	font-family: $open;
	padding-top: 50px;
	flex-direction: row;
	padding-right: 7%;
	padding-left: 7%;
	line-height: 23px;
	article {
		padding: 20px;
	}
	h2 {
		font-size: 2.5rem;
		font-weight: bold;
		margin-bottom: 32px;
	}
	p {
		font-size: 1.5rem;
	}
	a{
		color: white;
		font-size: 1.5rem;
		text-decoration: none;
	}
	li {
		list-style-image: url("../img/chevron.png");
				list-style-position: inside;
	}
	.modus {
			flex: 1;	
	}
	.company {
	flex: 1;
	}
	.community {
			flex: 1;
	}
	.from-the-blog {
			flex: 1;
	}
}
//początek media queries --------------------------------------
@media screen and (max-width: 1366px){
	.img-wrapper img{
			display: none;
}
}
@media screen and (max-width: 860px){
	footer {
		flex-direction: column;
	}
.slogan h2 {
	padding-top: 20px;
	width: 100%;
}

.first-menu {
		width: 100%;
		padding: 10px 0px;
		//position: relative;
		//display: inline-block;
	//	margin-top: 0px;
	ul {
		display: inline-block;
		width: 100%;
		background-color: $lightblue;
		text-align: center;
		position: absolute;
		margin-top: 73px;//reguluje odleglośc między menu a stroną 
		left: 0px;
		margin-left: auto;
		margin-right: auto;
		line-height: 1.3rem;
		li {
			float: none;
			display: block;
			border-bottom: solid 1px darken($lightblue, 20);
			padding-top: 10px;
			padding-bottom: 10px;
			a {
		font-size: 1.3rem;
		margin-right: 0px;
			}
	}
	}
	ul.active {
		display: none;
		}
	}
	.toggle-nav {
		display: inline-block;
		float: right;
		position: relative;
		z-index: 100;
		color: white;
		font-size: 2.0rem;
		text-decoration: none;
		font-size: 30px;
	}
	.benefits {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; 
	h2 {
		text-align: center;
				margin-top: 40px;
		}
	}
} 
.intro  {
	h2 {margin-top: 80px;}
	p { margin-top: 2.5rem;}
}
.benefits {
	h2 { margin-top: 20px;}
	p { margin-bottom: 20px;	}
}
.slider {
	width: 100%;
	p {
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 20px;
		text-align: center;
		margin-bottom: 30px;
	}
}
.our-team {
	padding-top: 10px;
	h2 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

/* koniec media queries --------------------------------*/
