/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 18, ../sass/screen.scss */
.first-menu {
  height: 80px;
  background-color: #76C7C0;
  line-height: 80px;
}
/* line 22, ../sass/screen.scss */
.first-menu h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3.0rem;
  color: white;
  font-weight: 700;
  float: left;
}
/* line 29, ../sass/screen.scss */
.first-menu ul {
  display: inline;
  float: right;
}
/* line 32, ../sass/screen.scss */
.first-menu ul li {
  display: inline-block;
}
/* line 34, ../sass/screen.scss */
.first-menu ul li a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
}

/* line 46, ../sass/screen.scss */
.benefits {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 52, ../sass/screen.scss */
.benefits h2 {
  font: bold 1.6rem "Open Sans", sans-serif;
  color: #7d8a8a;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 59, ../sass/screen.scss */
.benefits p {
  margin-top: 20px;
  font: 1.3rem "Open Sans", sans-serif;
  color: #98A2A2;
  margin-bottom: 20px;
}
/* line 66, ../sass/screen.scss */
.benefits .why-choose-us {
  flex: 1;
}
/* line 69, ../sass/screen.scss */
.benefits .why-choose-us ul li {
  font: 1.3rem "Open Sans", sans-serif;
  color: #98A2A2;
  list-style-image: url("../img/list.jpg");
}
/* line 76, ../sass/screen.scss */
.benefits .testimonials {
  flex: 1;
}
/* line 79, ../sass/screen.scss */
.benefits .our-benefits {
  flex: 2;
}

/* line 85, ../sass/screen.scss */
.back {
  background-color: #76C7C0 !important;
  color: white;
  background-image: none !important;
}

/* line 91, ../sass/screen.scss */
.our-team {
  background-color: #ECECEC;
  padding-top: 70px;
}
/* line 94, ../sass/screen.scss */
.our-team h2 {
  text-align: center;
  font: 4rem "Open Sans", sans-serif;
  font-weight: 700;
  color: #98A2A2;
  text-transform: uppercase;
  margin-bottom: 80px;
  line-height: 48px;
  box-sizing: border-box;
}
/* line 104, ../sass/screen.scss */
.our-team .page-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/* line 111, ../sass/screen.scss */
.our-team .page-wrap .img {
  width: 270px;
  height: 310px;
  background-color: white;
  background-image: url("../img/fota.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: 14px;
  margin-top: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}
/* line 126, ../sass/screen.scss */
.our-team .page-wrap .img p {
  font: 1.3rem "Open Sans", sans-serif;
}

/* line 137, ../sass/screen.scss */
.toggle-nav {
  display: none;
}

@media screen and (max-width: 860px) {
  /* line 142, ../sass/screen.scss */
  .first-menu {
    width: 100%;
    padding: 10px 18px;
    position: relative;
    display: inline-block;
  }
  /* line 149, ../sass/screen.scss */
  .first-menu ul {
    display: inline-block;
    width: 100%;
    background-color: #76C7C0;
    text-align: center;
    position: absolute;
    margin-top: 93px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3rem;
  }
  /* line 161, ../sass/screen.scss */
  .first-menu ul li {
    float: none;
    display: block;
    border-bottom: solid 1px #3e9991;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 168, ../sass/screen.scss */
  .first-menu ul li a {
    font-size: 1.3rem;
    margin-right: 0px;
  }
  /* line 174, ../sass/screen.scss */
  .first-menu ul.active {
    display: none;
  }

  /* line 180, ../sass/screen.scss */
  .toggle-nav {
    margin-right: 40px;
    display: inline-block;
    float: right;
    position: relative;
    z-index: 100;
    color: white;
    font-size: 2.0rem;
    text-decoration: none;
  }

  /* line 194, ../sass/screen.scss */
  .second-menu {
    display: none;
  }

  /* line 197, ../sass/screen.scss */
  .benefits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
/* koniec media queries --------------------------------*/
/* line 204, ../sass/screen.scss */
.second-menu {
  width: 100%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ECECEC;
}
/* line 211, ../sass/screen.scss */
.second-menu .page-wrap {
  width: 80%;
  max-width: 1000px;
  background-color: #ECECEC;
  color: #98A2A2;
  display: inline-block;
  font-size: 2.0rem;
  font-family: "Open Sans", sans-serif;
  margin-right: auto;
  margin-left: auto;
  display: block;
  line-height: 80px;
}
/* line 225, ../sass/screen.scss */
.second-menu .page-wrap ul li {
  display: inline;
}
/* line 228, ../sass/screen.scss */
.second-menu .page-wrap ul li a {
  text-decoration: none;
  color: #98A2A2;
  font: "Open Sans", sans-serif;
}

/* line 235, ../sass/screen.scss */
.intro {
  background-color: white;
}
/* line 238, ../sass/screen.scss */
.intro h2 {
  font: 3rem "Open Sans", sans-serif;
  color: #E1524B;
  margin-top: 62px;
}
/* line 243, ../sass/screen.scss */
.intro p {
  font: 1.4rem "Open Sans", sans-serif;
  color: #98A2A2;
  margin-top: 3.1rem;
  line-height: 2.0rem;
}

/* line 251, ../sass/screen.scss */
.page-wrap {
  width: 80%;
  margin: 0 auto;
}
