/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 17, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 18, ../sass/screen.scss */
nav.first-menu {
  position: fixed;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0;
}

/* line 25, ../sass/screen.scss */
nav {
  height: 80px;
  background-color: #76C7C0;
  line-height: 80px;
  border-image: url(../img/border.png) repeat;
  -webkit-box-shadow: 0 5px 5px 0 #a1a1a1;
  -moz-box-shadow: 0 5px 5px 0 #a1a1a1;
  box-shadow: 0 5px 5px 0 #a1a1a1;
}
/* line 33, ../sass/screen.scss */
nav h1 a {
  font: 700 3rem "Open Sans", sans-serif;
  color: white;
  float: left;
  text-decoration: none;
}
/* line 39, ../sass/screen.scss */
nav ul {
  display: inline;
  float: right;
}
/* line 42, ../sass/screen.scss */
nav ul li {
  display: inline-block;
}
/* line 44, ../sass/screen.scss */
nav ul li a:hover {
  color: #E1524B;
}
/* line 47, ../sass/screen.scss */
nav ul li a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
  text-transform: uppercase;
  font: 1.3rem "Open Sans", sans-serif;
}

/* line 57, ../sass/screen.scss */
.intro {
  padding: 0 8% 0 8%;
}

/* line 60, ../sass/screen.scss */
.benefits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 40px 8%;
}
/* line 66, ../sass/screen.scss */
.benefits h2 {
  font: bold 1.6rem "Open Sans", sans-serif;
  color: #7d8a8a;
  margin: 10px 0;
}
/* line 72, ../sass/screen.scss */
.benefits p {
  margin-top: 20px;
  font: 1.3rem "Open Sans", sans-serif;
  color: #98A2A2;
}
/* line 78, ../sass/screen.scss */
.benefits .why-choose-us {
  flex: 10;
}
/* line 80, ../sass/screen.scss */
.benefits .why-choose-us ul li {
  font: 1.3rem "Open Sans", sans-serif;
  color: #98A2A2;
  list-style-image: url("../img/list.jpg");
  list-style-position: inside;
}
/* line 88, ../sass/screen.scss */
.benefits .testimonials {
  flex: 10;
}
/* line 91, ../sass/screen.scss */
.benefits .our-benefits {
  flex: 10;
}
/* line 94, ../sass/screen.scss */
.benefits .our-benefits img {
  float: left;
}

/* line 99, ../sass/screen.scss */
.back {
  color: white;
  background: #76C7C0 none;
}

/* line 105, ../sass/screen.scss */
.our-team {
  background-color: #ECECEC;
}
/* line 109, ../sass/screen.scss */
.our-team figure {
  width: 270px;
  height: 310px;
  background: white url("../img/fota.jpg") no-repeat 50% 50%;
  margin: 0 0 30px 14px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0 5px 5px 0 #a1a1a1;
  -moz-box-shadow: 0 5px 5px 0 #a1a1a1;
  box-shadow: 0 5px 5px 0 #a1a1a1;
}
/* line 122, ../sass/screen.scss */
.our-team h2 {
  text-align: center;
  font: 700 4rem "Open Sans", sans-serif;
  color: #98A2A2;
  text-transform: uppercase;
  margin: 80px 0;
  line-height: 48px;
  box-sizing: border-box;
}
/* line 131, ../sass/screen.scss */
.our-team .page-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}
/* line 137, ../sass/screen.scss */
.our-team .page-wrap figcaption {
  width: 200px;
  height: 55px;
  box-sizing: border-box;
  background-color: #98A2A2;
  border-radius: 10px;
  position: relative;
  margin: 250px auto 0 auto;
  padding: 20px;
  color: white;
  -webkit-box-shadow: 0 5px 5px 0 #a1a1a1;
  -moz-box-shadow: 0 5px 5px 0 #a1a1a1;
  box-shadow: 0 5px 5px 0 #a1a1a1;
}
/* line 150, ../sass/screen.scss */
.our-team .page-wrap figcaption p {
  text-align: center;
  font: 1.4rem "Open Sans", sans-serif;
}

/* line 159, ../sass/screen.scss */
.toggle-nav {
  display: none;
}

/* line 163, ../sass/screen.scss */
.second-menu {
  width: 100%;
  height: 80px;
  margin: 70px auto 0 auto;
  background-color: #ECECEC;
  color: #98A2A2;
  font-size: 2.0rem;
  padding-left: 10%;
  display: inline-block;
  line-height: 80px;
}
/* line 173, ../sass/screen.scss */
.second-menu ul {
  float: left;
}
/* line 176, ../sass/screen.scss */
.second-menu ul li {
  display: inline;
}
/* line 179, ../sass/screen.scss */
.second-menu ul li a {
  text-decoration: none;
  color: #98A2A2;
  font-family: "Open Sans", sans-serif;
}

/* line 188, ../sass/screen.scss */
.intro {
  background-color: white;
}
/* line 191, ../sass/screen.scss */
.intro h2 {
  font: 3rem "Open Sans", sans-serif;
  color: #E1524B;
  margin-top: 62px;
}
/* line 196, ../sass/screen.scss */
.intro p {
  font: 1.4rem "Open Sans", sans-serif;
  color: #98A2A2;
  margin-top: 3.1rem;
  line-height: 2.0rem;
}

/* line 204, ../sass/screen.scss */
.page-wrap {
  width: 80%;
  margin: 0 auto;
}

/* line 209, ../sass/screen.scss */
.slogan {
  background-color: #ECECEC;
}
/* line 211, ../sass/screen.scss */
.slogan h2 {
  font: 4rem "Open Sans", sans-serif;
  color: #E1524B;
  text-align: center;
  padding-top: 100px;
  width: 90%;
}
/* line 218, ../sass/screen.scss */
.slogan p {
  font: 1.4rem "Open Sans", sans-serif;
  color: #98A2A2;
  text-align: center;
  margin: 30px 10% 0 10%;
}

/* line 225, ../sass/screen.scss */
.slider {
  background-color: #ECECEC;
  width: 100%;
}
/* line 228, ../sass/screen.scss */
.slider button {
  border-radius: 15%;
  width: 40px;
  height: 40px;
  background-color: #E1524B;
  float: right;
  color: white;
  font-size: 20px;
  position: relative;
  top: -30px;
}
/* line 239, ../sass/screen.scss */
.slider .active {
  background-color: #98A2A2;
}
/* line 242, ../sass/screen.scss */
.slider p {
  font: bold 1.5rem "Open Sans", sans-serif;
  color: #98A2A2;
  margin-left: 140px;
  padding-top: 70px;
}
/* line 249, ../sass/screen.scss */
.slider .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
/* line 256, ../sass/screen.scss */
.slider figure {
  width: 170px;
  height: 90px;
  background: white url("../img/jquery.png") no-repeat 50% 50%;
  border-radius: 5px;
  margin: 10px 20px 20px 0;
}

/* line 264, ../sass/screen.scss */
footer {
  background-color: #76C7C0;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  flex-direction: row;
  padding: 50px 7px 0 7px;
  line-height: 23px;
}
/* line 273, ../sass/screen.scss */
footer article {
  padding: 20px;
}
/* line 276, ../sass/screen.scss */
footer h2 {
  font: bold 2.5rem "Open Sans", sans-serif;
  margin-bottom: 32px;
}
/* line 280, ../sass/screen.scss */
footer p {
  font-size: 1.5rem;
}
/* line 283, ../sass/screen.scss */
footer a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
/* line 288, ../sass/screen.scss */
footer li {
  list-style-image: url("../img/chevron.png");
  list-style-position: inside;
}
/* line 292, ../sass/screen.scss */
footer .modus {
  flex: 1;
}
/* line 295, ../sass/screen.scss */
footer .company {
  flex: 1;
}
/* line 298, ../sass/screen.scss */
footer .community {
  flex: 1;
}
/* line 301, ../sass/screen.scss */
footer .from-the-blog {
  flex: 1;
}

@media screen and (max-width: 1366px) {
  /* line 307, ../sass/screen.scss */
  .img-wrapper img {
    display: none;
  }
}
@media screen and (max-width: 860px) {
  /* line 312, ../sass/screen.scss */
  footer {
    flex-direction: column;
  }

  /* line 315, ../sass/screen.scss */
  .slogan h2 {
    padding-top: 20px;
    width: 100%;
  }

  /* line 320, ../sass/screen.scss */
  .first-menu {
    width: 100%;
    padding: 10px 0;
  }
  /* line 323, ../sass/screen.scss */
  .first-menu ul {
    display: inline-block;
    width: 100%;
    background-color: #76C7C0;
    text-align: center;
    position: absolute;
    left: 0;
    margin: 73px auto 0 auto;
    line-height: 1.3rem;
  }
  /* line 332, ../sass/screen.scss */
  .first-menu ul li {
    float: none;
    display: block;
    border-bottom: solid 1px #3e9991;
    padding: 10px 0;
  }
  /* line 337, ../sass/screen.scss */
  .first-menu ul li a {
    font-size: 1.3rem;
    margin-right: 0;
  }
  /* line 343, ../sass/screen.scss */
  .first-menu ul.active {
    display: none;
  }

  /* line 347, ../sass/screen.scss */
  .toggle-nav {
    display: inline-block;
    float: right;
    position: relative;
    z-index: 100;
    color: white;
    font-size: 2.0rem;
    text-decoration: none;
  }

  /* line 357, ../sass/screen.scss */
  .benefits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  /* line 361, ../sass/screen.scss */
  .benefits h2 {
    text-align: center;
    margin-top: 40px;
  }
}
/* line 368, ../sass/screen.scss */
.intro h2 {
  margin-top: 80px;
}
/* line 371, ../sass/screen.scss */
.intro p {
  margin-top: 2.5rem;
}

/* line 376, ../sass/screen.scss */
.benefits h2 {
  margin-top: 20px;
}
/* line 379, ../sass/screen.scss */
.benefits p {
  margin-bottom: 20px;
}

/* line 383, ../sass/screen.scss */
.slider {
  width: 100%;
}
/* line 385, ../sass/screen.scss */
.slider p {
  margin: 0 0 30px 0;
  padding-top: 20px;
  text-align: center;
}

/* line 391, ../sass/screen.scss */
.our-team {
  padding-top: 10px;
}
/* line 393, ../sass/screen.scss */
.our-team h2 {
  margin: 20px 0;
}

/* koniec media queries --------------------------------*/
