/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
body {
  margin: 0px;
  padding: 0px;
}

/* line 17, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 18, ../sass/screen.scss */
nav.first-menu {
  position: fixed;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0px;
}

/* line 25, ../sass/screen.scss */
nav {
  height: 80px;
  background-color: #76C7C0;
  line-height: 80px;
  border-image: url(../img/border.png) repeat;
  -webkit-box-shadow: 0px 5px 5px 0px #a1a1a1;
  -moz-box-shadow: 0px 5px 5px 0px #a1a1a1;
  box-shadow: 0px 5px 5px 0px #a1a1a1;
}
/* line 33, ../sass/screen.scss */
nav h1 a {
  font-family: "Open Sans", sans-serif;
  font-size: 3.0rem;
  color: white;
  font-weight: 700;
  float: left;
  text-decoration: none;
}
/* line 41, ../sass/screen.scss */
nav ul {
  display: inline;
  float: right;
}
/* line 44, ../sass/screen.scss */
nav ul li {
  display: inline-block;
}
/* line 46, ../sass/screen.scss */
nav ul li a:hover {
  color: #E1524B;
}
/* line 49, ../sass/screen.scss */
nav ul li a {
  text-decoration: none;
  color: white;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
}

/* line 61, ../sass/screen.scss */
.intro {
  padding-right: 8%;
  padding-left: 8%;
  padding-top: 0px;
}

/* line 66, ../sass/screen.scss */
.benefits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 8%;
  padding-right: 8%;
}
/* line 75, ../sass/screen.scss */
.benefits h2 {
  font: bold 1.6rem "Open Sans", sans-serif;
  color: #7d8a8a;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 82, ../sass/screen.scss */
.benefits p {
  margin-top: 20px;
  font: 1.3rem "Open Sans", sans-serif;
  color: #98A2A2;
}
/* line 88, ../sass/screen.scss */
.benefits .why-choose-us {
  flex: 10;
}
/* line 92, ../sass/screen.scss */
.benefits .why-choose-us ul li {
  font: 1.3rem "Open Sans", sans-serif;
  color: #98A2A2;
  list-style-image: url("../img/list.jpg");
  list-style-position: inside;
}
/* line 100, ../sass/screen.scss */
.benefits .testimonials {
  flex: 10;
}
/* line 103, ../sass/screen.scss */
.benefits .our-benefits {
  flex: 10;
}
/* line 106, ../sass/screen.scss */
.benefits .our-benefits img {
  float: left;
}

/* line 111, ../sass/screen.scss */
.back {
  background-color: #76C7C0 !important;
  color: white;
  background-image: none !important;
}

/* line 117, ../sass/screen.scss */
.our-team {
  background-color: #ECECEC;
}
/* line 121, ../sass/screen.scss */
.our-team figure {
  width: 270px;
  height: 310px;
  background-color: white;
  background-image: url("../img/fota.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: 14px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0px 5px 5px 0px #a1a1a1;
  -moz-box-shadow: 0px 5px 5px 0px #a1a1a1;
  box-shadow: 0px 5px 5px 0px #a1a1a1;
}
/* line 138, ../sass/screen.scss */
.our-team h2 {
  text-align: center;
  font: 4rem "Open Sans", sans-serif;
  font-weight: 700;
  color: #98A2A2;
  text-transform: uppercase;
  margin-bottom: 80px;
  margin-top: 90px;
  line-height: 48px;
  box-sizing: border-box;
}
/* line 150, ../sass/screen.scss */
.our-team .page-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}
/* line 156, ../sass/screen.scss */
.our-team .page-wrap figcaption {
  width: 200px;
  height: 55px;
  box-sizing: border-box;
  background-color: #98A2A2;
  border-radius: 10px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 250px;
  padding: 20px;
  color: white;
  -webkit-box-shadow: 0px 5px 5px 0px #a1a1a1;
  -moz-box-shadow: 0px 5px 5px 0px #a1a1a1;
  box-shadow: 0px 5px 5px 0px #a1a1a1;
}
/* line 171, ../sass/screen.scss */
.our-team .page-wrap figcaption p {
  text-align: center;
  font: 1.4rem "Open Sans", sans-serif;
}

/* line 180, ../sass/screen.scss */
.toggle-nav {
  display: none;
}

/* line 184, ../sass/screen.scss */
.second-menu {
  width: 100%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  background-color: #ECECEC;
  color: #98A2A2;
  font-size: 2.0rem;
  padding-left: 10%;
  display: inline-block;
  line-height: 80px;
}
/* line 196, ../sass/screen.scss */
.second-menu ul {
  float: left;
}
/* line 199, ../sass/screen.scss */
.second-menu ul li {
  display: inline;
}
/* line 202, ../sass/screen.scss */
.second-menu ul li a {
  text-decoration: none;
  color: #98A2A2;
  font-family: "Open Sans", sans-serif;
}

/* line 211, ../sass/screen.scss */
.intro {
  background-color: white;
}
/* line 214, ../sass/screen.scss */
.intro h2 {
  font: 3rem "Open Sans", sans-serif;
  color: #E1524B;
  margin-top: 62px;
}
/* line 219, ../sass/screen.scss */
.intro p {
  font: 1.4rem "Open Sans", sans-serif;
  color: #98A2A2;
  margin-top: 3.1rem;
  line-height: 2.0rem;
}

/* line 227, ../sass/screen.scss */
.page-wrap {
  width: 80%;
  margin: 0 auto;
}

/* line 232, ../sass/screen.scss */
.slogan {
  background-color: #ECECEC;
}
/* line 234, ../sass/screen.scss */
.slogan h2 {
  font: 4rem "Open Sans", sans-serif;
  color: #E1524B;
  text-align: center;
  padding-top: 100px;
  width: 90%;
}
/* line 241, ../sass/screen.scss */
.slogan p {
  font: 1.4rem "Open Sans", sans-serif;
  color: #98A2A2;
  margin-top: 30px;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
}

/* line 250, ../sass/screen.scss */
.slider {
  background-color: #ECECEC;
  width: 100%;
}
/* line 253, ../sass/screen.scss */
.slider button {
  border-radius: 15%;
  width: 40px;
  height: 40px;
  background-color: #E1524B;
  float: right;
  color: white;
  font-size: 20px;
  position: relative;
  top: -30px;
}
/* line 264, ../sass/screen.scss */
.slider .active {
  background-color: #98A2A2;
}
/* line 267, ../sass/screen.scss */
.slider p {
  font: bold 1.5rem "Open Sans", sans-serif;
  color: #98A2A2;
  margin-left: 140px;
  padding-top: 70px;
}
/* line 274, ../sass/screen.scss */
.slider .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
/* line 281, ../sass/screen.scss */
.slider figure {
  width: 170px;
  height: 90px;
  background-color: white;
  background-image: url("../img/jquery.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 5%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* line 294, ../sass/screen.scss */
footer {
  background-color: #76C7C0;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  padding-top: 50px;
  flex-direction: row;
  padding-right: 7%;
  padding-left: 7%;
  line-height: 23px;
}
/* line 305, ../sass/screen.scss */
footer article {
  padding: 20px;
}
/* line 308, ../sass/screen.scss */
footer h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 32px;
}
/* line 313, ../sass/screen.scss */
footer p {
  font-size: 1.5rem;
}
/* line 316, ../sass/screen.scss */
footer a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
/* line 321, ../sass/screen.scss */
footer li {
  list-style-image: url("../img/chevron.png");
  list-style-position: inside;
}
/* line 325, ../sass/screen.scss */
footer .modus {
  flex: 1;
}
/* line 328, ../sass/screen.scss */
footer .company {
  flex: 1;
}
/* line 331, ../sass/screen.scss */
footer .community {
  flex: 1;
}
/* line 334, ../sass/screen.scss */
footer .from-the-blog {
  flex: 1;
}

@media screen and (max-width: 1366px) {
  /* line 340, ../sass/screen.scss */
  .img-wrapper img {
    display: none;
  }
}
@media screen and (max-width: 860px) {
  /* line 345, ../sass/screen.scss */
  footer {
    flex-direction: column;
  }

  /* line 348, ../sass/screen.scss */
  .slogan h2 {
    padding-top: 20px;
    width: 100%;
  }

  /* line 353, ../sass/screen.scss */
  .first-menu {
    width: 100%;
    padding: 10px 0px;
  }
  /* line 359, ../sass/screen.scss */
  .first-menu ul {
    display: inline-block;
    width: 100%;
    background-color: #76C7C0;
    text-align: center;
    position: absolute;
    margin-top: 73px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3rem;
  }
  /* line 370, ../sass/screen.scss */
  .first-menu ul li {
    float: none;
    display: block;
    border-bottom: solid 1px #3e9991;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 376, ../sass/screen.scss */
  .first-menu ul li a {
    font-size: 1.3rem;
    margin-right: 0px;
  }
  /* line 382, ../sass/screen.scss */
  .first-menu ul.active {
    display: none;
  }

  /* line 386, ../sass/screen.scss */
  .toggle-nav {
    display: inline-block;
    float: right;
    position: relative;
    z-index: 100;
    color: white;
    font-size: 2.0rem;
    text-decoration: none;
    font-size: 30px;
  }

  /* line 396, ../sass/screen.scss */
  .benefits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  /* line 400, ../sass/screen.scss */
  .benefits h2 {
    text-align: center;
    margin-top: 40px;
  }
}
/* line 407, ../sass/screen.scss */
.intro h2 {
  margin-top: 80px;
}
/* line 408, ../sass/screen.scss */
.intro p {
  margin-top: 2.5rem;
}

/* line 411, ../sass/screen.scss */
.benefits h2 {
  margin-top: 20px;
}
/* line 412, ../sass/screen.scss */
.benefits p {
  margin-bottom: 20px;
}

/* line 414, ../sass/screen.scss */
.slider {
  width: 100%;
}
/* line 416, ../sass/screen.scss */
.slider p {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

/* line 424, ../sass/screen.scss */
.our-team {
  padding-top: 10px;
}
/* line 426, ../sass/screen.scss */
.our-team h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* koniec media queries --------------------------------*/
